<div class="login-container position-relative d-flex flex-column min-vh-100" [dir]="currentLang === 'ar' ? 'rtl' : 'ltr'">
    <header class="text-center mt-4 p-2" style="z-index: 3;">
      <div class="d-flex align-items-center justify-content-center">
        <img src="./assets/imgs/logo.png" alt="Peron Logo" class="me-3" style="width: 90px; height: 90px;" />
        <span class="brand-name">{{ 'FOOTER.BRAND_NAME' | translate }}</span>
      </div>
    </header>
    <div class="color position-absolute top-0 start-0 end-0 bottom-0"></div>
    <div *ngIf="!registerSucc" class="col-10 col-sm-8 col-md-4 mt-5 col-lg-4 mx-auto mb-4" style="z-index: 3;">
      <div class="login-form card p-4 shadow rounded-4">
        <div class="card-body">
          <h2 class="text-center mb-4 fw-bold">{{ 'REGISTER.TITLE' | translate }}</h2>
          <form [formGroup]="registerForm" (ngSubmit)="handelForm()">
            <div>
              <div class="input-group">
                <input type="text" formControlName="fullName" #fullName
                       class="form-control focus-ring rounded-3 focus-ring-light" placeholder=" " required />
                <label>{{ 'REGISTER.FULL_NAME_LABEL' | translate }}</label>
              </div>
              <div class="alert text-danger m-0 p-0"
                   *ngIf="registerForm.get('fullName')?.errors && (registerForm.get('fullName')?.touched || fullName.value.length > 0)">
                <p *ngIf="registerForm.get('fullName')?.getError('required')">{{ 'REGISTER.ERROR.FULL_NAME_REQUIRED' | translate }}</p>
                <p *ngIf="registerForm.get('fullName')?.getError('minlength')">{{ 'REGISTER.ERROR.FULL_NAME_MIN_LENGTH' | translate }}</p>
                <p *ngIf="registerForm.get('fullName')?.getError('maxlength')">{{ 'REGISTER.ERROR.FULL_NAME_MAX_LENGTH' | translate }}</p>
              </div>
            </div>
            <div>
              <div class="input-group">
                <input type="email" formControlName="email" #email
                       class="form-control focus-ring rounded-3 focus-ring-light" placeholder=" " required />
                <label>{{ 'REGISTER.EMAIL_LABEL' | translate }}</label>
              </div>
              <div class="alert text-danger m-0 p-0"
                   *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.touched || email.value.length)">
                <p *ngIf="registerForm.get('email')?.getError('required')">{{ 'REGISTER.ERROR.EMAIL_REQUIRED' | translate }}</p>
                <p *ngIf="registerForm.get('email')?.getError('email')">{{ 'REGISTER.ERROR.EMAIL_INVALID' | translate }}</p>
              </div>
            </div>
            <div>
              <div class="input-group">
                <input type="tel" formControlName="phoneNumber" #phoneNumber
                       class="form-control focus-ring rounded-3 focus-ring-light" placeholder=" " required />
                <label>{{ 'REGISTER.PHONE_LABEL' | translate }}</label>
              </div>
              <div class="alert text-danger m-0 p-0"
                   *ngIf="registerForm.get('phoneNumber')?.errors && (registerForm.get('phoneNumber')?.touched || phoneNumber.value.length > 0)">
                <p *ngIf="registerForm.get('phoneNumber')?.getError('required')">{{ 'REGISTER.ERROR.PHONE_REQUIRED' | translate }}</p>
                <p *ngIf="registerForm.get('phoneNumber')?.getError('pattern')">{{ 'REGISTER.ERROR.PHONE_PATTERN' | translate }}</p>
              </div>
            </div>
            <div>
              <div class="input-group">
                <input type="password" formControlName="password" #password
                       class="form-control focus-ring rounded-3 focus-ring-light" placeholder=" " required />
                <label>{{ 'REGISTER.PASSWORD_LABEL' | translate }}</label>
              </div>
              <div class="alert text-danger m-0 p-0"
                   *ngIf="registerForm.get('password')?.errors && (registerForm.get('password')?.touched || password.value.length > 0)">
                <p *ngIf="registerForm.get('password')?.getError('required')">{{ 'REGISTER.ERROR.PASSWORD_REQUIRED' | translate }}</p>
                <p *ngIf="registerForm.get('password')?.getError('pattern')">{{ 'REGISTER.ERROR.PASSWORD_PATTERN' | translate }}</p>
              </div>
            </div>
            <div>
              <div class="input-group">
                <input type="password" formControlName="confirmPassword" #confirmPassword
                       class="form-control focus-ring rounded-3 focus-ring-light" placeholder=" " required />
                <label>{{ 'REGISTER.CONFIRM_PASSWORD_LABEL' | translate }}</label>
              </div>
              <div>
                <div class="alert text-danger m-0 p-0"
                     *ngIf="registerForm.get('confirmPassword')?.errors && (registerForm.get('confirmPassword')?.touched || confirmPassword.value.length > 0)">
                  <p *ngIf="registerForm.get('confirmPassword')?.getError('required')">{{ 'REGISTER.ERROR.CONFIRM_PASSWORD_REQUIRED' | translate }}</p>
                </div>
                <div class="alert text-danger m-0 p-0" *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.value.length > 0">
                  <p>{{ 'REGISTER.ERROR.PASSWORDS_MISMATCH' | translate }}</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
              <div class="form-check-wrapper">
                <div class="form-check d-flex align-items-center">
                  <input class="form-check-input focus-ring focus-ring-success custom-checkbox"
                         type="checkbox" id="remember-me">
                  <label class="form-check-label font-sm" for="remember-me">
                    {{ 'REGISTER.TERMS_LABEL' | translate }} <span class="fw-bold text-black">{{ 'REGISTER.TERMS_CONDITIONS' | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <button type="submit" style="background-color: #0F7757;" class="btn text-white w-100">
              <i class="fas fa-spin fa-spinner me-1" *ngIf="spincheak"></i>
              {{ 'REGISTER.SUBMIT_BUTTON' | translate }}
            </button>
            <p *ngIf="mserror" class="alert mt-2 p-2 text-danger">{{ mserror }}</p>
          </form>
        </div>
        <p class="text-center text-muted mb-0 mt-5">
          {{ 'REGISTER.ALREADY_HAVE_ACCOUNT' | translate }} 
          <a routerLink="/auth/login" class="text-main fw-bold text-decoration-none">{{ 'REGISTER.LOGIN_LINK' | translate }}</a>
        </p>
      </div>
    </div>
    <div *ngIf="registerSucc" class="col-10 col-sm-8 col-md-5 mt-5 col-lg-5 m-auto" style="z-index: 3;">
      <div class="login-form card p-5 shadow">
        <a class="text-decoration-none fw-normal" style="color: #292828;" routerLink="/auth/register">
            <i [ngClass]="currentLang === 'en'?'fa-arrow-left':'fa-arrow-right'" class="fa-solid mt-2 fs-6  p-0"></i>{{ 'ENTER_OTP.BACK' | translate }}
        </a>
        <div class="card-body p-4">
          <h2 class="text-center mb-3 fw-bold">{{ 'ENTER_OTP.TITLE' | translate }}</h2>
          <p class="text-center text-muted">{{ 'ENTER_OTP.DESCRIPTION' | translate }}</p>
          <form [formGroup]="OTPForm" (ngSubmit)="sendOtp()">
            <div>
              <div class="otp-inputs">
                <input
                  type="tel"
                  maxlength="1"
                  class="otp-box"
                  formControlName="otp0"
                  (ngModelChange)="moveToNext(otp1, otp2)"
                  (blur)="updateBorder(otp1, 0)"
                  (keydown)="onKeyDown($event, 0, otp1, otp2)"
                  (paste)="onPaste($event, 0)"
                  #otp1
                />
                <input
                  type="text"
                  maxlength="1"
                  class="otp-box"
                  formControlName="otp1"
                  (ngModelChange)="moveToNext(otp2, otp3)"
                  (blur)="updateBorder(otp2, 1)"
                  (keydown)="onKeyDown($event, 1, otp2, otp3, otp1)"
                  (paste)="onPaste($event, 1)"
                  #otp2
                />
                <input
                  type="text"
                  maxlength="1"
                  class="otp-box"
                  formControlName="otp2"
                  (ngModelChange)="moveToNext(otp3, otp4)"
                  (blur)="updateBorder(otp3, 2)"
                  (keydown)="onKeyDown($event, 2, otp3, otp4, otp2)"
                  (paste)="onPaste($event, 2)"
                  #otp3
                />
                <input
                  type="text"
                  maxlength="1"
                  class="otp-box"
                  formControlName="otp3"
                  (blur)="updateBorder(otp4, 3)"
                  (ngModelChange)="moveToNext(otp4, null)"
                  (keydown)="onKeyDown($event, 3, otp4, undefined, otp3)"
                  (paste)="onPaste($event, 3)"
                  #otp4
                />
              </div>
              <div class="d-flex justify-content-around align-items-center mt-3">
                <p class="otp-timer mb-0 text-black">{{ timer }}</p>
                <a [class.disabled]="isResendDisabled" (click)="resendOtp()" class="resend">{{ 'ENTER_OTP.RESEND' | translate }}</a>
              </div>
            </div>
            <button type="submit" class="btn w-100 btn-success mt-3">
              <i *ngIf="spincheak" class="fas me-1 fa-spin fa-spinner"></i> {{ 'ENTER_OTP.SUBMIT_BUTTON' | translate }}
            </button>
            <p *ngIf="mserror" class="alert text-danger">{{ mserror }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>