body {
  font-family: "Cairo", sans-serif;
}
:root {
  --main-color: #0F7757;
  --light-color: #f0f3f2;
  --rating-color: var(--main-color);
}
.rating-color {
  color: var(--rating-color);
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: var(--light-color);
}
::-webkit-scrollbar-thumb{
  background-color: #0F7757;
}
.font-sm {
    font-size: 12px;
  }
  .text-main {
    color: var(--main-color);
  }
